body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}
.container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container{
    animation: a 2.5s linear infinite;
}
@keyframes a{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.div1{
    width: 25px;
    height: 10px;
    border-radius: 10px 0px 10px 0px;
    background: green;
}
.div2{
    width: 10px;
    height: 40px;
    border-radius: 0px 0px 10px 0px;
    background: green;
}