body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #226262;
}

.container {
    width: 200px;
    height: 200px;
    position: relative;
}

.container div {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    animation: a 1.5s linear infinite;
    filter: drop-shadow(0px 0px 10px red);
}

.container div:nth-child(1) {
    top: 10px;
    left: 20px;
    border-left: 5px solid red;
}

.container div:nth-child(2) {
    top: 10px;
    right: 20px;
    border-left: 5px solid red;
}

.container div:nth-child(2) {
    bottom: 45px;
    left: 5dvh;
    border-left: 5px solid red;
}

@keyframes a {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}